
.latoThin {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.latoRegular {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.latoMedium {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.latoBold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}